@import 'variables';

.active-room {
  border-style: solid;
  border-color: $base02;
  height: 70%;
  position: relative;

  .room-messages {
    overflow: scroll;
    h1 {
      padding: 5px;
    }
    max-height: 95%;
  }

  .room-users {
    list-style: none;
    padding-left: 0;
    ul {
    }
    border-style: solid;
    border-color: $base02;
  }
}
