@import 'bourbon';
@import 'neat';


html {
  height: 100%;
}

body {
  height: 100%;
}

#react {
  height: 100%;
}

.chat {
  @include outer-container;
  height: 90%;
}

nav {
  @include outer-container;
  height: 10%;
}

.room-list {
  height: 100%;
  @include span-columns(2);
  li {
    @include omega;
  }
}

.active-room {
  height: 100%;
  @include span-columns(10);
  @include omega;
}

.room-messages {
  @include span-columns(8 of 10);
}

.message-text {
  @include span-columns(6 of 8);
}

.message {
  @include outer-container;
}

.send-stamp {
  @include span-columns(2 of 8);
}

.room-users {
  @include span-columns(2 of 10);
  @include omega;
}

.chat-input {
  @include span-columns(10 of 10);
}
