@import 'variables';

.room-list {
  height: 90%;
  border-style: solid;
  border-color: $base02;
  ul {
    list-style: none;
    padding-left: 0;
  }
  .active {
    background-color: $base02
  }
}
